html,
body {
  background-image: url('../images/kanban-board-examples-2.png');
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}
/* criar hover para deixar os forms sem opacidade */
.form {
  opacity: 0.9;
  background-color: #face0a;
  box-sizing: border-box;
  height: 400px;
  padding: 20px;
  width: 320px;
  margin-left: 40px;
  transform: rotate(4deg);
  transition: 0.9s;
}

.form:hover {
  opacity: 9;
  transform: rotate(0deg);
  height: 410px;
  width: 330px;
  box-shadow: 12px 12px 9px;
}

.contacts {
  opacity: 0.9;
  background-color: #1ed08c;
  box-sizing: border-box;
  height: 400px;
  width: 320px;
  padding: 20px;
  margin-left: 40px;
  transform: rotate(-4deg);
  transition: 0.9s;
}

.contacts:hover {
  opacity: 9;
  transform: rotate(0deg);
  height: 410px;
  width: 330px;
  box-shadow: 12px 12px 9px;
}

.contacts-list {
  opacity: 0.9;
  background-color: #d6003d;
  box-sizing: border-box;
  height: 400px;
  padding: 20px;
  width: 320px;
  margin-left: 40px;
  transition: 0.9s;
  transform: rotate(4deg);
}

.contacts-list:hover {
  opacity: 9;
  transform: rotate(0deg);
  height: 410px;
  width: 330px;
  box-shadow: 12px 12px 9px;
}

.title {
  color: #000;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  font-family: 'Reenie Beanie';
  border: 0;
  border-bottom: 2px solid #000;
  background-color: #face0a;
  box-sizing: border-box;
  font-size: 40px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  font-family: 'Reenie Beanie';
  color: #000;
  font-size: 50px;
  font-weight: 700;
  left: 20px;
  line-height: 8px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #000;
}

.input:focus ~ .placeholder {
  color: #000;
  font-size: 39px;
}

.submit {
  background-color: #face0a;
  border-radius: 12px;
  border: 0;
  border-bottom: 12px #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  width: 100%;
  -webkit-transition: 0.8s;
}

.submit:active {
  background-color: #06b;
  opacity: 3;
}

.submit:hover {
  background-color: rgb(13, 140, 243);
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.5s;
  transition-timing-function: ease-in-out;
}

@media screen and (max-width: 480px) {
  body {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
  }
}
